body {
    background-color: AntiqueWhite;
    color: black;
    font-family: Garamond, Georgia, serif;
    margin: 0;
    padding: 0;
}

.tiled-border {
    height: 64px;
    background-image: url('thickerborder.png');
    background-repeat: repeat;
}
