:root {    
    font-size: 100%;
}

@font-face {
  font-family: 'Garamond';
  src: url('/fonts/CormorantGaramond-Regular.woff2') format('woff2'),
       url('/fonts/CormorantGaramond-Regular.woff') format('woff');
  /*src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/EBGaramond12-Regular.woff') format('woff');*/
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blackletter';
  src: url('Plain_Black-webfont.woff') format('woff');
/*  src: url('rothenbg-webfont.woff') format('woff');
*/  font-weight: normal;
  font-display: swap;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: black;
    font-family: "Garamond", Garamond, Georgia, serif;
    font-weight: normal;
    font-feature-settings: "liga" 1, "dlig" 1, "calt" 1, "ss01" 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

.background {
    height: 35vh;
    background-size: auto 100%;
}

.bookmark {
    vertical-align: top;
    float: right;
    margin-top: -25px;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    max-height: 33vh;
    width: auto;
    display: block;
}

  .leftMarg {
    max-width: 33%;
    height: auto;
    margin: 10px;
    float: left;
    display: block;
    position: relative;
}

 .fastingFish {
    max-height: 2rem;
    width: auto;
    margin: 10px;
    float: left;
    display: block;
    position: relative;
}

 .fastingFish {
    max-height: 2rem;
    width: auto;
    margin: 10px;
    float: left;
    display: block;
    position: relative;
}

.rightMarg {
    max-width: 33%;
    height: auto;
    margin: 10px;
    float: right;
    display: block;
    position: relative;
}

.centerMarg {
    max-width: 25%;
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 { 
    font-family: 'Blackletter', Garamond, Georgia, serif;
    font-size: 1.5rem; 
    text-align: center;
    font-weight: normal;
}
h2 { 
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    font-feature-settings: "swsh" 1;
    font-style: italic;
}

h3 { 
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    font-feature-settings: "swsh" 1;
}

.fastingLabel { 
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

/*h1 { font-size: 2.00rem; }
h2 { font-size: 1.74rem; }
h3 { font-size: 1.52rem; }
h4 { font-size: 1.32rem; }
h5 { font-size: 1.15rem; }
h6 { font-size: 1.00rem; }*/
p { 
    font-size: 1.00rem;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

.drop-cap {
  float: left;
  font-size: 3.5rem;
  line-height: 3rem;
  /*padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;*/
}

.hymn {
    text-align: center;
    margin: 0 auto;
}
