/* styles.css */
body {
    background-color: black;
    color: white;
    font-family: 'Fixedsys', monospace;
    margin: 0;
    padding: 20px;
}

pre, code {
    font-family: 'Fixedsys', monospace;
    color: white;
}
